RewriteEngine On
RewriteBase /auto-rt

RewriteCond $1 !^(index\.php|robots\.txt|script|user_guide)
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]